.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #1e9b86;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #0d0e0d;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: rgb(201, 230, 36);
    color: rgb(0, 246, 115);
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }

  canvas {
    background-color: black;
    position: center;
  }

  button {
    position: relative;

  }