.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #070707;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #0d0e0d;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: rgb(7, 7, 7);
    color: rgb(0, 86, 246);
    padding: 15px;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }

  canvas {
    background-color: black;
    position: center;
  }

  button {
    position: relative;

  }

  .title {
    /* font-weight: bold;
    font-family: 'impact';
    font-size: 24;
    color: goldenrod;
    text-shadow: darkcyan 5px 4px 0;
    background-color: dodgerblue; */

    color: #FFFFFF;
background: #000f31;
text-shadow: 0 0 10px #FFFFFF;
color: #FFFFFF;
background: #020a38;
  }

  body {
    background-color: black;
  }

  .highscores {
    font-size: medium;
    color: goldenrod;
  }

  .scoreboard {
    background-color: gray;
  }

  .well {
    color: goldenrod;
  }